@model IEnumerable<OddsMagic.Models.MatchSystemIDs>
@using System.Data.Entity;
@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>

<div>
    <h4>MatchSystemIDs</h4>
    <hr />
    @{ string previusRowClass = string.Empty;}
    @foreach (var item in Model)
    {

        var q = Model.GroupBy(x => x.EventDateTime)
            .Select(g => new { Value = g.Key, Count = g.Count() })
            .OrderByDescending(x => x.Count);
        var dateTimeLists = new List<Tuple<string, DateTime>>();

        int identicalDateCounter = 0;
        foreach (var x in q)
        {
            if (x.Count > 1)
            {
                List<string> classList = new List<string>();
                classList.Add("alert-danger");
                classList.Add("alert-info");
                classList.Add("alert-link");
                classList.Add("alert-success");
                classList.Add("alert-warning");

                dateTimeLists.Add(new Tuple<string, DateTime>(classList[identicalDateCounter], x.Value));

                identicalDateCounter++;
            }
        }


        string rowClass = (dateTimeLists.Find(i => i.Item2 == item.EventDateTime) != null) ? dateTimeLists.Find(i => i.Item2 == item.EventDateTime).Item1 : string.Empty;

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventSystemID)
            </dt>

            <dd class="glyphicon-alert">
                @Html.DisplayFor(model => item.EventSystemID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventName)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.EventName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventDateTime)
            </dt>

            <dd class=@rowClass>
                @Html.DisplayFor(model => item.EventDateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventSportTypeID)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.EventSportTypeID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KladaName)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.KladaName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Similarity)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Similarity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Matched)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Matched)
            </dd>

            <dd>
                @Html.ActionLink("Edit", "Edit", new { id = item.id })
            </dd>

        </dl>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
