@model IEnumerable<OddsMagic.Models.MatchSystemIDs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table-condensed">
    @*<tr>
         <th>
             Sorting by:
         </th>
         <th>
             @Html.ActionLink("Event Name", "Index", new { sortOrder = ViewBag.NameSortParm })
         </th>
        <th>
                 First Name
             </th>
        <th>
            @Html.ActionLink("Event Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
        </tr>
    *@
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventSystemID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventSportTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KladaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Similarity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matched)
        </th>
        <th></th>
    </tr>
    @{int rowCounter = 0; var lastGuid = Guid.Empty; string rowClass = "alert-warning";}
    @foreach (var item in Model.OrderBy(o => o.EventSystemID))
    {
        if (lastGuid != item.EventSystemID)
        {
            rowCounter = 0;
            rowClass = "alert-warning";

            <tr>
                <td>
                    <p></p>
                    <p></p>
                </td>
            </tr>

        }

        rowCounter += 1;
        if (item.Matched)
        {
            rowClass = "alert-success";
        }

        <tr class=@rowClass>
            <td>
                @Html.DisplayFor(modelItem => item.EventSystemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventSportTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KladaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Similarity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matched)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { eventSystemID = item.EventSystemID }) |*@
                @Html.ActionLink("Details", "Details", new { eventSystemID = item.EventSystemID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
        lastGuid = item.EventSystemID;
    }

</table>
