@model IEnumerable<OddsMagic.Models.CalcOddsTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            var calcOdd = (1 - item.CalcOdd) * 100;
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6"><h4>@Html.DisplayFor(modelItem => item.Home)  -  @Html.DisplayFor(modelItem => item.Away)</h4></div>
                <p><h5>@Html.DisplayFor(modelItem => item.EventTime)    ID = @Html.DisplayFor(modelItem => item.EventID)</h5></p>
            </div>

            <div class="row"><div class="col-md-2">Dobitak:</div><div class="col-md-2">@calcOdd</div></div>

            <div class="row"><div class="col-md-2">1</div><div class="col-md-2">@Html.DisplayFor(modelItem => item.Odd1)</div><div class="col-md-2"><a href="">@Html.DisplayFor(modelItem => item.Klada1)</a></div></div>

            <div class="row"><div class="col-md-2">X</div><div class="col-md-2">@Html.DisplayFor(modelItem => item.OddX)</div><div class="col-md-2"><a href="">@Html.DisplayFor(modelItem => item.KladaX)</a></div></div>

            <div class="row"><div class="col-md-2">2</div><div class="col-md-2">@Html.DisplayFor(modelItem => item.Odd2)</div><div class="col-md-2"><a href="">@Html.DisplayFor(modelItem => item.Klada2)</a></div></div>

            <div class="row"><div class="col-md-2">1X</div><div class="col-md-2">@Html.DisplayFor(modelItem => item.Odd1X)</div><div class="col-md-2"><a href="">@Html.DisplayFor(modelItem => item.Klada1X)</a></div></div>

            <div class="row"><div class="col-md-2">X2</div><div class="col-md-2">@Html.DisplayFor(modelItem => item.OddX2)</div><div class="col-md-2"><a href="">@Html.DisplayFor(modelItem => item.KladaX2)</a></div></div>

            <div class="row"><div class="col-md-2">12</div><div class="col-md-2">@Html.DisplayFor(modelItem => item.Odd12)</div><div class="col-md-2"><a href="">@Html.DisplayFor(modelItem => item.Klada12)</a></div></div>

            @*<div class="row">@Html.DisplayFor(modelItem => item.KladaName)</div>*@

            <div class="row">
                <div class="col-md-4">
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EventID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventID })
                </div>
            </div>
            <hr />
        </div>
        }
    </div>
</div>

<!-- #region Generated Code -->

@*<table class="table">*@
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Home)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Away)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Odd1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klada1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OddX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KladaX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Odd2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klada2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Odd1X)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klada1X)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OddX2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KladaX2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Odd12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klada12)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Home)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Away)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odd1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klada1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OddX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KladaX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odd2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klada2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odd1X)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klada1X)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OddX2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KladaX2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odd12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klada12)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EventID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EventID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EventID })
            </td>
        </tr>
    }

</table>

<!-- #endregion -->
